.containPage {
    padding: 20px 30px 10px 30px;
  }
  
  .contentPage {
    padding: 10px;
    border-radius: 10px;
    background-color: #70c2b4;
  }
  
  .btn-edit {
    background-color: #70c2b4;
    color: #fff;

    &:hover {
      opacity: 0.8;
    }
  }
