.containPage {
    padding: 20px 30px 10px 30px;
}

.contentPage {
    padding: 10px;
    border-radius: 10px;
    background-color: #eae2e24a;
}

.lableGroup {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputGroup {
    background-color: #ede8e88a;
    outline: none;
    border: none;
}