.containPage {
  padding: 20px 30px;
}

.contentPage {
  padding: 30px 20px 20px 20px;
  background-color: #fff;
  padding-bottom: 50px;
  border-radius: 10px;
}

.listCard {
  border-radius: 10px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: 80px auto;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.574);
  height: 200px;
  width: 150px;
  margin: 10px auto;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  background-color: #07f4c4;
}

.cardInfo:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 5px #3e3e3e;
}

.leftCard {
  display: flex;
  margin: auto;

  .iconCard {
      border-radius: 50%;
      font-size: 20px;
      color: #000;
      background-color: #fff;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

.rightCard {
  margin: auto 0px auto 2px;

  .numberCard {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: #000;
  }

  .nameCard {
      font-size: 15px;
      color: #000;
  }
}

.ordersCustomer {
  margin: 20px;
  background-color: #fff;
  border-top: none;
}

.accept {
  border-radius: 50%;
  border: 2px solid #000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin-right: 5px;
  transition: 0.5s;
}

.accept:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.436);
}

.reject {
  border-radius: 50%;
  border: 2px solid #000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 14px;
  margin-left: 5px;
  transition: 0.5s;
}

.reject:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.462);
}

.inputDate {
  border: none;
  background-color: #e6e6e6;
  width: 180px;
  border-radius: 5px;
}

.imageOrderEmpty {
  img {
      width: 150px;
  }

  p {
      font-size: 16px;
      text-align: center;
      margin-top: 20px;
      color: #000;
  }
}
