.containPage {
    padding: 20px 30px 10px 30px;
  }
  
  .contentPage {
    padding: 10px;
    border-radius: 10px;
    background-color: #eae2e24a;
  }
  
  .btn-edit {
    background-color: #343a40;
    color: #fff;
    &:hover {
      opacity: 0.8;
    }
  }
  
  .bgProfile {
    background-image: url(https://as1.ftcdn.net/v2/jpg/03/21/97/42/1000_F_321974259_BnmlxfkknMol8HiQ0dg1bwQizor48uB9.jpghttps://as2.ftcdn.net/v2/jpg/04/12/37/21/1000_F_412372117_BTxTKE80IR87WRLyAjPZfCA7v52ZfuGg.jpg);
    height: 300px;
    background-size: contain;
    // background-position: center;
  }